<h1>Na medische vooruitgang en ethische debatten: James Watson hielp de code van ons DNA te ontcijferen</h1>
<Row Margin="Margin.Is5.FromTop.Is3.FromBottom.OnMobile.Is5.FromTop.Is0.FromBottom.OnDesktop"
     Style="aspect-ratio: 10 / 4; overflow: scroll">
    <Column Height="Height.Is100">
        <FigureImage Rounded="true" Source="Resources/article.png" Style="width: 100%; height: 85%"/>
        <FigureCaption>James Watson. Berlijn, 11 oktober 2004.</FigureCaption>
    </Column>
    <Column Height="Height.Is100">
        <FigureImage Rounded="true" Source="Resources/article2.png" Style="width: 100%; height: 85%"/>
        <FigureCaption>James Watson. Moskou, 17 juni 2015.</FigureCaption>
    </Column>
</Row>

@code {

}