<Div Position="Position.Fixed.Top.Is0.End.Is0" Border="@(_instructionsVisible ? Border.Is3.Info.OnAll : Border.Is0)" Background="@(_instructionsVisible ? Background.White : Background.Transparent)"
     Style="z-index: 9999" Width="Width.Px(270)" Height="Height.Max100" Flex="Flex.Column">
    <Button Color="Color.Info" Clicked="@(() => _instructionsVisible = !_instructionsVisible)"
            Style="z-index: 10; opacity: 0.8;"
            Margin="Margin.Is3" Flex="Flex.AlignSelf.End">
        <Icon Name="IconName.QuestionCircle" IconSize="IconSize.x2" Margin="Margin.Is1.FromEnd"/>
        <Text>Wat moest ik nu weer doen?</Text>
    </Button>
    <Div Display="@(_instructionsVisible ? Display.Block : Display.None)" Overflow="Overflow.Scroll">
        <Div Margin="Margin.Is3.OnX.Is3.FromBottom">
            <UnorderedList>
                <UnorderedListItem>Lees het artikel.</UnorderedListItem>
                <UnorderedListItem>U mag op alles klikken.</UnorderedListItem>
                <UnorderedListItem>Als u klaar bent met lezen, klik dan op "naar de enquête" onderaan.</UnorderedListItem>
            </UnorderedList>
        </Div>
    </Div>
</Div>

@code {
    private bool _instructionsVisible;
}