@using System.Runtime.CompilerServices
@using JournalisticTransparency.Web.Components.Logging
@using JournalisticTransparency.Web.Pages
@implements IArticleContent

<h1>Na medische vooruitgang en ethische debatten: James Watson hielp de code van ons DNA te ontcijferen</h1>
<Row Margin="Margin.Is5.FromTop.Is3.FromBottom.OnMobile.Is5.FromTop.Is0.FromBottom.OnDesktop" Style="aspect-ratio: 10 / 4; overflow: hidden">
    <Column Height="Height.Is100">
        <FigureImage Rounded="true" Source="Resources/article.png" Style="width: 100%; height: 85%"/>
        <FigureCaption>James Watson. Berlijn, 11 oktober 2004.</FigureCaption>
    </Column>
    <Column Height="Height.Is100">
        <FigureImage Rounded="true" Source="Resources/article2.png" Style="width: 100%; height: 85%"/>
        <FigureCaption>James Watson. Moskou, 17 juni 2015.</FigureCaption>
    </Column>
</Row>
<Paragraph>
    Op een mistige zaterdagochtend in 1953, zit een tengere 24-jarige te prutsen met wat vormen die hij uit karton heeft geknipt. Ze staan voor de delen van een DNA-molecule, en de jonge James Watson probeert uit te vissen hoe ze in elkaar passen op een manier waarop het DNA correct functioneert. Zo probeert hij te verklaren hoe DNA zijn rol vervult als drager van erfelijke informatie.
</Paragraph>
<Paragraph>
    Uiteindelijk realiseert hij zich dat de stukjes samen de “sporten” vormen van een lange, gedraaide ladder. Een vorm die we tegenwoordig kennen als de dubbele helix.
</Paragraph>
<Paragraph>
    De ontdekking van de structuur van desoxyribonucleïnezuur, of DNA, werd een doorbraak die de weg vrijmaakte voor een revolutie in de geneeskunde, de biologie en andere vakgebieden zoals misdaadbestrijding, genealogie, en bio-ethiek.
</Paragraph>
<Paragraph>
    Watson overleed afgelopen maand. De wetenschapper, die geboren werd in Chicago, was 97 jaar. Zijn loopbaan werd gekenmerkt door grote wetenschappelijke prestaties, waaronder het in kaart brengen van de menselijke chromosomen. Toch is zijn nalatenschap ook omstreden door racistische uitspraken, waarvoor hij veelvuldig bekritiseerd werd.
</Paragraph>
<Paragraph>
    Het blootleggen van de dubbele helix “is een van de drie belangrijkste ontdekkingen in de geschiedenis van de biologie”, zegt Bruce Stillman, huidig voorzitter van het invloedrijke onderzoeksinstituut Cold Spring Harbor Laboratory. De andere twee zijn volgens hem Charles Darwins evolutietheorie en Gregor Mendels basiswetten van de genetica.
</Paragraph>
<Paragraph>
    Watson mocht samen met zijn collega Francis Crick en met wetenschapper Maurice Wilkins een Nobelprijs in ontvangst nemen. Hun werk werd mede mogelijk gemaakt door röntgenonderzoek van Rosalind Franklin en haar postdoctoraal student Raymond Gosling. Watson kreeg later forse kritiek over de neerbuigende manier waarop hij Franklin beschreef in zijn boek The Double Helix. Vandaag wordt Franklin dan ook gezien als een voorbeeld van de miskenning van vrouwelijke wetenschappers. Crick en Wilkins overleden in 2004; Franklin stierf al in 1958.
</Paragraph>
<Paragraph>
    Hun ontdekking toonde aan hoe erfelijke informatie wordt opgeslagen en hoe een cel haar DNA dupliceert voordat ze zich deelt, zodat elke dochtercel een eigen kopie meekrijgt. Die duplicatie begint wanneer de twee DNA-strengen zich losritsen van elkaar.
</Paragraph>
<Paragraph>
    “Francis Crick en ik deden de ontdekking van de eeuw, dat was volstrekt duidelijk,” zei Watson ooit. “We konden onmogelijk voorspellen wat voor een gigantische impact de dubbele helix op de wetenschap en de samenleving zou hebben.”
</Paragraph>
<Paragraph>
    Voor onderzoekers vormde de ontdekking de opstap naar latere doorbraken, zoals het veranderen van genetische eigenschappen van organismen, gentherapie, het identificeren van menselijke resten of verdachten op basis van DNA-sporen, en het reconstrueren van familiestambomen.
</Paragraph>
<Paragraph>
    Daaruit zijn talloze ethische vragen voortgekomen, onder meer of het wenselijk is om chromosomen aan te passen als die veranderingen daardoor worden doorgegeven aan volgende generaties.
</Paragraph>
<Paragraph>
    Watsons initiële motivatie om aan genetisch onderzoek te doen werd ingegeven door zijn gezin: zijn zoon Rufus was in het ziekenhuis opgenomen met een mogelijke diagnose schizofrenie, en Watson meende dat inzichten in DNA cruciaal zouden worden om die ziekte te begrijpen, misschien net op tijd om zijn zoon te helpen.
</Paragraph>
<Paragraph>
    Na de dubbele helix deed Watson geen ontdekkingen meer van vergelijkbare omvang. In de jaren erna schreef hij wel invloedrijke studieboeken en zijn memoires, een bestseller. Hij begeleidde ook jong talent en gebruikte zijn aanzien en netwerk om invloed uit te oefenen op het Amerikaans wetenschapsbeleid.
</Paragraph>
<Paragraph>
    Na zijn ontdekking werkte Watson twee jaar aan het California Institute of Technology.  In 1955 begon hij te werken voor Harvard. Daar bouwde hij het hele programma voor moleculaire biologie mee op. In 1968 werd Watson directielid van het Cold Spring Harbor Laboratory, in 1994 voorzitter en tien jaar later werd hij het hoofd van het instituut.
</Paragraph>
<Paragraph>
    Van 1988 tot 1992 leidde hij het landelijke initiatief in de VS om het volledige menselijke DNA in kaart te brengen. Hij zorgde voor grote investeringen in het onderzoek naar de ethische aspecten van het project door die investeringen gewoonweg publiekelijk aan te kondigen op een persconferentie. Later zei hij dat dat “waarschijnlijk het slimste was dat hij het afgelopen decennium had gedaan.”
</Paragraph>
<Paragraph>
    In 2007 kwam Watson echter in negatief daglicht toen het Britse tijdschrift Sunday Times Magazine een uitspraak van hem publiceerde. Watson verklaarde toen dat hij “somber is over wat ons te wachten staat met Afrika, omdat al ons sociale beleid ervan uitgaat dat ze even intelligent zijn als wij, terwijl alle testen zeggen van niet.” Hij hoopt naar eigen zeggen dat iedereen gelijk is, maar beweerde dat mensen die “met zwarte werknemers te maken hebben, kunnen constateren dat dat niet zo is”.
</Paragraph>
<Paragraph>
    Na zijn excuses werd hij, onder aanzwellende internationale verontwaardiging, geschorst als hoofd van Cold Spring Harbor Laboratory. Een week later ging hij met pensioen. Hij werkte toen bijna veertig jaar voor het instituut en bekleedde verschillende leidinggevende functies.
</Paragraph>



@code {
    [Parameter] public EventCallback<LoggedStopwatch> OnStopwatchCreated { get; set; }
    [Parameter] public EventCallback<LoggedIncrementor> OnIncrementorCreated { get; set; }

    private LoggedStopwatch _masterStopwatch = null!;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();

        _masterStopwatch = CreateStopwatch("master", this);
        _masterStopwatch.Start();
    }

    private LoggedStopwatch CreateStopwatch(string name, IComponent? owner)
    {
        LoggedStopwatch stopwatch = new() { Name = name, Owner = owner };
        OnStopwatchCreated.InvokeAsync(stopwatch);
        return stopwatch;
    }

}